---
layout: default
title: Home
---
<div class="bg-primary text-secondary header-section">
  <div class="container">
    {% include navigation.html %}
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-text">
          <h1 class="text-secondary mb-4">We create branding and web design for growing businesses</h1>
          <p class="text-secondary">We build brands, websites and eCommerce solutions that people and companies love. We are a small company with an agency output. We help business owners create brands and websites that look great and make money.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="case-studies d-flex flex-wrap justify-content-between">
        {% assign case_studies = site.case_studies | where: 'featured', true %}
        {% for case_study in case_studies %}
        <div class="case-study mb-5">
          <img class="img-fluid mb-4" src="/assets/images/{{ case_study.image }}" alt="{{ case_study.alt }}">
          <h4 class="text-primary">{{ case_study.name | downcase }}</h4>
          <p>{{ case_study.content | markdownify }}</p>
          <a class="spaced-letters h6" href="{{ case_study.url }}">VIEW CASE STUDY</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="bg-primary text-secondary approach-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h6 class="spaced-letters mb-3">OUR APPROACH</h6>
        <h2 class="mb-3">User focused + goal orientated</h2>
        <p class="mb-5">Struggling to stand out in your industry? We can help. We investigate and explore your brand to offer in-depth analysis of how your digital offering could work better for you and your customers.</p>
      </div>
    </div>
    <div class="row">
      {% for approach in site.data.approaches %}
      <div class="col-4">
        <h4 class="mb-4">{{ approach.name }}</h4>
        <p class="mb-4">{{ approach.text }}</p>
        <ul class="mb-4">
          <li>{{ approach.points[0].text }}</li>
          <li>{{ approach.points[1].text }}</li>
          <li>{{ approach.points[2].text }}</li>
          <li>{{ approach.points[3].text }}</li>
        </ul>
        <a class="text-secondary med-txt" href="{{ approach.url }}">{{ approach.link_text }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
