<footer class="bg-primary text-secondary" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-4 wow fadeInUp">
        <div class="mb-5 mb-md-0">
          <img src="{{ 'assets/logos/vasby_logo_pink.svg' | relative_url }}" width="120" alt="Vasby">
        </div>
      </div>
      <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
        <div class="mb-5 mb-md-0">
          <h6>Contact Us</h6>
          <a class="text-secondary" href="mailto:studio@thevasby.co.uk">studio@thevasby.co.uk</a>
        </div>
      </div>
      <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s">
        <div class="row">
          <div class="col-6">
            <nav class="nav flex-column">
              {% for item in site.data.navigation %}
                <a class="nav-link {% if page.url == item.link %}active{% endif %}" href="{{ item.link }}">
                  {{ item.name }} {% if page.url == item.link %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              {% endfor %}
            </nav>
          </div>
          <div class="col-6">
            <nav class="nav flex-column">
              {% for item in site.data.social_media %}
                <a class="nav-link" href="{{ item.link }}" target="_blank">{{ item.name }}</a>
              {% endfor %}
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="small border-top mt-4 py-4 pl-3">© 2020 The Väsby. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>

<script src="{{ 'assets/js/app.js' | relative_url }}"></script>
<script src="{{ 'assets/js/wow.min.js' | relative_url }}"></script>
<script>
  new WOW().init();
</script>