// Bootstrap variable overrides
$primary: #2e4849;
$secondary: #fbe4e4;
$success: #28a745;
$info: #17a2b8;
$warning: #ff7200;
$danger: #dc3545;
$light: #e4e4e3;
$dark: #231f20;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$body-bg: $light;
$body-color: #3f404b;

$border-color: $secondary;

$font-family-sans-serif: "Larsseit-Light", sans-serif;
$font-family-base: $font-family-sans-serif;
$line-height-base: 1.76;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$headings-font-family: "Sharp-Sans-Bold", sans-serif;

$navbar-dark-color: $secondary;
