.round-logo {
  filter: invert(24%) sepia(8%) saturate(867%) hue-rotate(197deg) brightness(89%) contrast(86%);
}

.arrow-link {

  span {
    transition: 0.4s;
  }

  &:hover span {
    margin-left: 10px;
  }
}

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom,
.img-hover-zoom img {
  transition: transform .5s ease;
}

.navbar {
  font-size: $font-size-lg;
  margin-bottom: 80px;
}

.header-section {
  padding-bottom: 285px;

  .header-text {
    max-width: 857px;

    p {
      font-size: $font-size-lg;
    }
  }
}

.case-studies {
  margin-top: -164px;

  .case-study {
    width: 100%;

    &:hover {

      .img-hover-zoom {
        transform: scale(0.96);

        img {
          transform: scale(1.2);
        }
      }

      .arrow-link {
        color: $primary;

        span {
          margin-left: 10px;
        }
      } 
    }
  }

  .logo-container {
    position: absolute;
    top: -224px;
    right: 40px;

    .round-logo {
      filter:  brightness(0) invert(1);
    }
  }
}

.approach-section {

  .logo-container {
    position: absolute;
    top: -117px;
    right: 0;

    .top-half,
    .bottom-half {
      position: absolute;
      right: 0;
      width: 100%;
      height: 50%;
      overflow: hidden;
    }

    .top-half {
      top: 0;
    }

    .bottom-half {
      bottom: 0;

      .round-logo {
        filter:  brightness(0) invert(1);
        position: absolute;
        bottom: 0;
      }
    }
  }
}

.about-section {

  .logo-container {

    .round-logo {
      position: absolute;
      top: -50px;
      right: -30px;

      &:first-child {
        filter:  brightness(0) invert(1);
        clip-path: polygon(0 40%, 80% 40%, 80% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 40%, 80% 40%, 80% 100%, 0% 100%);
      }

      &:last-child {
        clip-path: polygon(100% 0, 100% 100%, 80% 100%, 80% 40%, 0 40%, 0 0);
        -webkit-clip-path: polygon(100% 0, 100% 100%, 80% 100%, 80% 40%, 0 40%, 0 0);
      }
    }
  }

}

@include media-breakpoint-up(sm) {

  .case-studies {

    .case-study {
      width: 48%;
    }

    .case-study:nth-child(even) {
      margin-top: $spacer * 3;
    }

    .logo-container {
      top: -174px;
    }
  }
}

.approach-section,
.about-section,
footer {
  padding-top: $spacer * 3;
  padding-bottom: $spacer * 3;
}


footer {

  .footer-title {
    max-width: 570px;
    margin-bottom: 100px;
  }
}

@include media-breakpoint-up(md) {

  .header-section {
    padding-top: 80px;
  }

  .approach-section {
    padding-top: 120px;
    padding-bottom: 125px;

    .logo-container {
      top: -189px;
    }
  }

  .about-section {
    padding-top: 132px;
    padding-bottom: 116px;
  }

  footer {
    padding-top: 103px;
    padding-bottom: 81px;
  }
}