.navbar {
  margin-bottom: 80px;
}

.header-section {
  padding-top: 80px;
  padding-bottom: 285px;

  .header-text {
    max-width: 857px;
  }
}


.case-studies {
  margin-top: -164px;

  .case-study {
    width: 48%;

    &.even {
      margin-top: 3rem;
    }
  }
}

.approach-section {
  padding-top: 120px;
  padding-bottom: 125px;
}

.about-section {
  padding-top: 132px;
  padding-bottom: 116px;
}

footer {
  padding-top: 103px;
  padding-bottom: 81px;

  .footer-title {
    max-width: 570px;
    margin-bottom: 100px;
  }
}