.spaced-letters {
  letter-spacing: 3px;
}

.font-body {
  font-family: $font-family-base;
}

.vertical-text {
  writing-mode: vertical-rl;
  white-space: nowrap;
}

@include media-breakpoint-up(sm) {

  .text-lg {
    font-size: $font-size-lg;
  }

  .text-xl {
    font-size: $font-size-xl;
    line-height: $line-height-lg;
  }
}