.spaced-letters {
  letter-spacing: 3px;
}

.vertical-text {
  writing-mode: vertical-rl;
  white-space: nowrap;
}

@include media-breakpoint-up(sm) {

  .text-lg {
    font-size: $font-size-lg;
  }
}