.spaced-letters {
  letter-spacing: 3px;
}

.text-lg {
  font-size: $font-size-lg;
}

.med-txt {
  font-family: "Larsseit", sans-serif;
}

.vertical-text {
  writing-mode: vertical-rl;
  white-space: nowrap;
}