---
layout: default
---
<div class="bg-primary text-secondary header-section">
  {% include navigation.html %}

  <div class="container">
    <div class="row">
      <div class="col wow fadeInUp">
        <div class="header-text mx-auto text-center">
          <img class="round-logo scroll-rotate mb-3" src="{{ 'assets/logos/vasby-round-logo.svg' | relative_url }}" alt="Vasby logo" width="80">

          <h1 class="text-secondary mb-4">{{ page.tag }}</h1>

          <div class="d-flex justify-content-center">
            <div class="p-3 mr-5">
              <h5 class="mb-0">Client</h5>
              <p class="text-lg mb-0">{{ page.client }}</p>
            </div>

            <div class="p-3">
              <h5 class="mb-0">Project Type</h5>
              <p class="text-lg mb-0">{{ page.type }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col wow fadeInUp">
      <div class="case-study-image mb-5">

      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-6 wow fadeInUp">
      <h4 class="text-primary mb-4">{{ page.content_title }}</h4>
      {{ page.content | markdownify }}
    </div>
    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
      <img class="img-fluid" src="{{ 'assets/images/' | append: page.image | relative_url }}" alt="{{ page.alt }}">
    </div>
  </div>

  <div class="row">
    <div class="col wow fadeInUp">
      <div class="text-center my-5">
        <h2 class="text-primary">{{ page.quote }}</h2>
        <p>{{ page.quote_label }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 wow fadeInUp">
      <img class="img-fluid mb-3" src="{{ 'assets/images/' | append: page.image | relative_url }}" alt="{{ page.alt }}">
    </div>
    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
      <img class="img-fluid mb-3" src="{{ 'assets/images/' | append: page.image | relative_url }}" alt="{{ page.alt }}">
    </div>
  </div>

  <div class="row">
    <div class="col wow fadeInUp">
      
      <div class="carousel">
        {% assign case_studies = site.case_studies | where: 'featured', true %}
        {% for case_study in case_studies %}
        <div class="carousel-cell case-study-next-image">
          <a href="{{ case_study.url | relative_url }}">
            <div class="view-project">
              <p class="case-study-link mb-0">VIEW<br>PROJECT</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>

      <div class="d-flex justify-content-between mb-5">
        <a class="case-study-link previous"><span class="mr-3">&#10229;</span> PREVIOUS</a>
        <a class="case-study-link next">NEXT <span class="ml-3">&#10230;</span></a>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
