---
layout: default
---
<div class="bg-primary text-secondary header-section">
  {% include navigation.html %}

  <div class="container">
    <div class="row">
      <div class="col wow fadeInUp">
        <div class="header-text mx-auto text-center">
          <img class="round-logo scroll-rotate mb-3" src="{{ 'assets/logos/vasby-round-logo.svg' | relative_url }}" alt="Vasby logo" width="80">

          <h2 class="text-secondary mb-4">{{ page.tag }}</h2>

          <div class="d-flex justify-content-center">
            <div class="p-3 mr-5">
              <h5 class="mb-0">Client</h5>
              <p class="text-lg mb-0">{{ page.client }}</p>
            </div>

            <div class="p-3">
              <h5 class="mb-0">Project Type</h5>
              <p class="text-lg mb-0">{{ page.type }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col wow fadeInUp">
      <div class="case-study-image mb-5">
        <img class="img-fluid" src="{{ 'assets/images/' | append: page.featured_image | relative_url }}" alt="{{ page.alt }}">
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-6 wow fadeInUp">
      <h4 class="text-primary mb-4">{{ page.content_title }}</h4>
      {{ page.content | markdownify }}
    </div>
    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
      <img class="img-fluid" src="{{ 'assets/images/' | append: page.image_1 | relative_url }}" alt="{{ page.alt }}">
    </div>
  </div>

  <div class="row">
    <div class="col wow fadeInUp">
      <div class="text-center my-5">
        <h2 class="text-primary">{{ page.quote }}</h2>
        <p>{{ page.quote_label }}</p>
      </div>
    </div>
  </div>

  {% if page.image_2 and page.image_3 %}
  <div class="row">
    <div class="col-md-6 wow fadeInUp">
      <img class="img-fluid case-study-screenshot" src="{{ 'assets/images/' | append: page.image_2 | relative_url }}" alt="{{ page.alt }}">
    </div>
    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
      <img class="img-fluid case-study-screenshot" src="{{ 'assets/images/' | append: page.image_3 | relative_url }}" alt="{{ page.alt }}">
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col wow fadeInUp">
      
      <div class="case-study-next-image">
        <img class="img-fluid" src="{{ 'assets/images/' | append: page.site_image | relative_url }}" alt="{{ page.alt }}">
        <a href="{{ page.site_url }}" target="_blank">
          <div class="view-project">
            <p class="case-study-link mb-0">VIEW<br>PROJECT</p>
          </div>
        </a>
      </div>

      <div class="d-flex justify-content-between mb-5">
        <a class="case-study-link previous {% if page.previous == nil %}invisible{% endif %}" href="{{ page.previous.url | relative_url }}"><span class="mr-3">&#10229;</span> PREVIOUS</a>
        <a class="case-study-link next {% if page.next == nil %}invisible{% endif %}" href="{{ page.next.url | relative_url }}">NEXT <span class="ml-3">&#10230;</span></a>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
