---
layout: default
---
<div class="bg-primary text-secondary header-section">
  {% include navigation.html %}

  <div class="container">
    <div class="row">
      <div class="col wow fadeInUp">
        <div class="header-text mx-auto text-center">
          <h1 class="text-secondary mb-4">Delivering a dynamic long  
            long text here new brand identity</h1>
          <p class="text-secondary">Spain’s leading courier company asked us to help them remix their brand identity to reflect their new digital approach.</p>

          <div class="d-flex justify-content-center">
            <div class="p-3 mr-5">
              <p class="font-weight-bold mb-0">Client</p>
              <p class="mb-0">{{ page.name }}</p>
            </div>

            <div class="p-3">
              <p class="font-weight-bold mb-0">Project Type</p>
              <p class="mb-0">Travel web application</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col wow fadeInUp">
      <div class="case-study-image mb-5">

      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-6 wow fadeInUp">
      <h4 class="text-primary mb-4">Stepping up the e-commerce design of a small to medium company.</h4>
      <p class="mb-4">Native Shoes has an incredible product and loyal brand advocates, but needed help scaling their online business to keep up with customer demands. We helped their team better understand their product and market.</p>
      <p class="mb-4">Native Shoes has an incredible product and loyal brand advocates, but needed help scaling their online business to keep up with customer demands. We helped their team better understand their product and market. </p>
      <p>The result: a newly redesigned, responsive website that contributed to a sales increase of over 30% in the first quarter after launch.</p>
    </div>
    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
      <img class="img-fluid" src="{{ 'assets/images/' | append: page.image | relative_url }}" alt="{{ page.alt }}">
    </div>
  </div>

  <div class="row">
    <div class="col wow fadeInUp">
      <div class="text-center my-5">
        <h2 class="text-primary">“The way Internet advertising has behaved lately,<br> it may well take 50 years to get there.”</h2>
        <p>Scott Calver - CEO, Where 2 Go When</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 wow fadeInUp">
      <img class="img-fluid mb-3" src="{{ 'assets/images/' | append: page.image | relative_url }}" alt="{{ page.alt }}">
    </div>
    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
      <img class="img-fluid mb-3" src="{{ 'assets/images/' | append: page.image | relative_url }}" alt="{{ page.alt }}">
    </div>
  </div>

  <div class="row">
    <div class="col wow fadeInUp">
      <div class="case-study-next-image"></div>

      <div class="d-flex justify-content-between py-5">
        <a class="next-previous" href=""><span class="mr-3">&#10229;</span> PREVIOUS</a>
        <a class="next-previous" href="">NEXT <span class="ml-3">&#10230;</span></a>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
